@tailwind base;
@tailwind components;
@tailwind utilities;

.button {
  width: 335px;
  height: 60px;
  color: white;
  background: linear-gradient(90deg, #0d4c93 0%, #00c9c9 100%);
  @apply text-xl self-center;
  border-radius: 35px;

}
